@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Styles/layout")
</head>
<body>
    <div id="wrapper">
        <header class="menu">
            <div id="category-list" data-bind="foreach: categories">
                <div class="category highlitable clickable" data-bind="click: active, style: $root.getCategoryWidth(), css:{ selected : isSelected}">
                    <span data-bind="text: name"></span>
                </div>
            </div>
        </header>       
        @RenderBody()
        <footer>
            <p>
                @ViewBag.Title
                <br />
                Last update: @DateTime.Now.Date.ToShortDateString()
            </p>
        </footer>
    </div>
</body>
@Scripts.Render("~/Scripts/base")
@Scripts.Render("~/Scripts/application")
@Scripts.Render("~/Scripts/subcategories")
</html>